language: node_js
node_js:
- '5'
addons:
  code_climate:
    repo_token: "32d715ed8ee4a1e0d04afba403ab498845d69cc0f3d39447f6cfdfa2d28e05be"
before_script:
- npm install -g codeclimate-test-reporter
after_script:
- codeclimate-test-reporter < coverage/lcov.info
deploy:
  provider: npm
  email: serveradmin@octoblu.com
  api_key:
    secure: ejEXqSdoRvvWCk2drL+TnlPv2sWKgmhdt3qMpNCmZaYsAo4ky1LaUJ+60ujG1H5kEkx6TyKn2O1lxp3+H+xsYIO0LAU7TSihV2j9u6yKZTru9X9ZVW2urYz3+O3Cj83ptkxAgdNRQfusmi6UAxjjQ4ZUQ5OZ3rhC6o0xYFsFTIBmD2lWcwmYvjsXWLoEnSeokSUWScKsu4R7+wizfHwSRrEMtVFfAsRcSKaAk+AxuABjcdipxpjOu3dkrThw+A3YTn3gSpQv3InzmaxtOg7oNBAaRkPIv98FodsuE3q5+qJVMT7JsC1j+Y/95OEg3cC7QCYnW79KH2DZWAayTugc/ENIVRwFcAkiFtiBBtrZfK80MB7yu4ELvH9Cng3zT997c29HXLMZKxUS6IN9DuIftuIutok9+Z5ELLo+qZRBFukOv0G7mZpspJCuJZitL+YbzUZ4VwhTZMIZOyRLpgVV7s5eKVduXZslzRiKp4lA2B0lvHXeYT67+XsAw9xsAnC0/j/lb/gauUQq0CHcWTB/4GWTeJ3sf9U/AWAPZR4JPxpqaMOB2n5nNNQuuTuamR2pjUATywSDelXastElBvgsA1OODk2j0NZsXYatQwBQaiR2T64liLFYPyqU/fDoYOaRb1hMbTgSLLQ48Ybx0FVCBqGpE0Js4gf9ljEPePt5x0k=
  on:
    tags: true
    branches: true
after_success:
- bash <(curl -s https://codecov.io/bash)
branches:
  only:
  - "/^v[0-9]/"
